@import '../utils/vars';

body {
  font-family: 'Roboto', sans-serif;
  color: $PrimaryColorText;
  max-width: 1600px;
  margin: 0 auto;

  background: #ffffff;
}

ul,
li,
h2,
h3,
h4,
p,
figure {
  margin: 0;
  padding: 0;
}

.section-padding {
  padding: 94px 0;
}
